fastapi
uvicorn
gradio
scikit-learn==1.6.1
pandas
sentence-transformers

pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.49.1 # not directly required, pinned by Snyk to avoid a vulnerability
