fastapi
uvicorn
gradio
scikit-learn==1.6.1
pandas
sentence-transformers

pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
transformers>=4.36.0 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
